{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Todo Lists</title>
       
    </head>
    <body>
        <header>
        </header>
        <main>
            <div>
                <h1>Create a new list</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div> 
        </main>
        <footer>
        </footer>

    </body>
</html>