{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    {% block content %}
    <main>
        <div>
           
                <h1> {{ todoitem.name }}</h1>
                <p><a href="{% url 'todo_list_update' todoitem.id %}"">Edit</a></p>
                <p><a href="{% url 'todo_list_delete' todoitem.id %}"">Delete</a></p>
                <h2> Tasks </h2>
           
            <table>
                <thead>
                    <tr>
                        <th><h2>Task</h2></th>
                        <th><h2>Due date</h2></th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in tasks %}
                        <tr>
                            <td><a href="{% url 'todo_item_update' todoitem.id %}">{{ detail.task }}</a></td>
                            <td> {{ detail.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    {% endblock content %}
</body>
</html>