{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Edit TodoItem</h1>
            <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
  </form>
        </div>
    </main>
</body>
</html>